@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.app {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

* {
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	::selection {
		background: #e19b2c;
		color: #333;
		text-shadow: none;
	}
}

body {
	font-family: Poppins, sans-serif;
	background-color: #242533;
	color: #fff;
	line-height: 1.6;
}

ul {
	list-style: none;
}

.container {
	max-width: 768px;
	margin: auto;
	padding: 0 20px;
}

header {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.card {
	background-color: #fff;
	color: #333;
	border-radius: 15px;
	padding: 40px 50px;
	margin: 20px 0;
	position: relative;
}

.card.reverse {
	background-color: rgb(0 0 0 / 40%);
	color: #fff;
}

.card h2 {
	font-size: 22px;
	font-weight: 600;
	text-align: center;
}

.input-group {
	display: flex;
	flex-direction: row;
	border: 1px solid #ccc;
	padding: 8px 10px;
	border-radius: 8px;
}

.form-group {
	display: flex;
	flex-direction: row;
	border: none;
	padding: 8px 10px;
	gap: 16px;
}

input {
	flex-grow: 2;
	border: none;
	font-size: 16px;
	margin-right: 10px;
}

input:focus {
	outline: none;
}

.todo-filter {
	background: #242533;
	border: 0;
	border-radius: 8px;
	color: #fff;
	cursor: pointer;
	width: auto;
	padding: 16px;
}

.todo-properties {
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.text-completed {
	text-decoration: line-through;
	opacity: 0.5;
}

.completed,
.close,
.edit {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
	background: none;
	border: none;
}

.completed {
	right: 60px;
}

.edit {
	right: 40px;
}

.btn {
	border: 0;
	border-radius: 8px;
	color: #fff;
	width: 100px;
	height: 40px;
	cursor: pointer;
}

.btn-primary {
	background-color: #242533;
}

.btn-secondary {
	background: #e19b2c;
}

.btn:hover {
	transform: scale(0.98);
	opacity: 0.9;
}

.btn:disabled {
	background-color: #ccc;
	color: #333;
	cursor: auto;
}

.btn:disabled:hover {
	transform: scale(1);
	opacity: 1;
}

.message {
	padding-top: 10px;
	text-align: center;
	color: #e19b2c;
}

/* FIX: Remove position: absolute to keep about icon at the bottom of the
 * document */
.about-link {
	display: flex;
	justify-content: flex-end;
}

/* FIX: Remove position: absolute to keep about icon at the bottom of the
 * document */
.about-link a {
	color: #fff;
	cursor: pointer;
}

.about-link a:hover {
	color: #e19b2c;
}

.about h1 {
	margin-bottom: 20px;
}

.about p {
	margin: 10px 0;
}

@media (max-width: 600px) {
	.rating li {
		margin: 10px 3px;
	}

	.rating {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin: 30px 0 40px;
	}

	.input-group input {
		width: 80%;
		margin: 10px 0;
	}
}
